<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <section style="box-sizing: border-box; background-color: rgb(255, 255, 255);">
    <section style="position: static; box-sizing: border-box;" class="Powered-by-wxb.com">
        <section style="margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; overflow: hidden; position: static; box-sizing: border-box;" class="">
            <section style="display: inline-block; box-sizing: border-box;" class="">
                <section style="box-sizing: border-box;"></section>
            </section>
        </section>
    </section>
</section>
<section class="js-block block-item gorse-editor active">
    <section class="block-content" style="clear: both; position: relative; width: 100%; margin-right: auto; margin-left: auto; overflow: hidden;">
        <section style="margin-top: 0.5em; margin-bottom: 0.5em; width: 100%; display: inline-block;" data-component-id="YK2yoL3">
            <section style="float: left; height: 36px; width: 8px; background-color: rgb(0, 0, 1);"></section>
            <section class="color-changeable" style="padding-right: 30px; padding-left: 10px; float: left; height: 36px; line-height: 36px; background-color: rgb(255, 0, 0);">
                <section>
                    <span class="gsText" style="color: rgb(255, 255, 255);">请输入标题</span>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </section>
            </section>
            <section class="color-changeable" style="width: 0px; height: 0px; border-left-width: 15px; border-left-style: solid; border-left-color: rgb(255, 0, 0); border-top-width: 18px; border-top-style: solid; border-top-color: transparent; border-bottom-width: 18px; border-bottom-style: solid; border-bottom-color: transparent; float: left;"></section>
            <section style="margin-right: 15px; float: left;">
                <section>
                    <section style="margin-right: 5px; float: left; transform: skewX(40deg);">
                        <section class="color-changeable" style="width: 8px; height: 18px; background-color: rgb(255, 0, 0);"></section>
                    </section>
                </section>
                <section style="clear: both;">
                    <section style="margin-right: 5px; float: left; transform: skewX(-40deg);">
                        <section class="color-changeable" style="width: 8px; height: 18px; background-color: rgb(255, 0, 0);"></section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
</body>
</html>